<h2>Будапешт</h2>
<h2><a href="/Cities/UpdateCityInfo">Update Database</a></h2>
<h2>Вартість харчування в дешевому ресторані: @Model.CurrInfo.CostOfFood</h2>
<h2>Рейтинг поїздки: @Model.CurrInfo.CityRating</h2>