<h2>Всі міста</h2>
<table>
    @{
        foreach (var city in Model.allCities)
        {
            <tr>
                <td><h3>Назва: @city.Name</h3></td>
            </tr>

            <tr>
                <td>Зображення:</td>
            </tr>

            <tr>
                <td><img src="@city.Img" width="180" height="120"></td>
            </tr>

            <tr>
                <td>Опис: @city.ShortDescription</td>
            </tr>
        }
    }
</table>