<h2>Всі міста</h2>
@{
    foreach (var city in Model.allCities)
    {
        <div>
            <h2>Назва: @city.name</h2>
            <p>Зображення:</p>
            <p><img src="@city.img" width="180" height="120"></p>
            <p>Опис: @city.shortDescription</p>
            <p>Вартість харчування в дешевому ресторані: @city.costOfFood.ToString("c")</p>
        </div>
    }
}
